/* Importation de la font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Saira:wght@100..900&display=swap");

/* Déclarations des differentes couleurs */
:root {
  --color-primary: #E67E22;
  --color-secondary: #0a1118;
  --color-button: #E67E22;
  --color-texte: #fff;
  --color-texte-important: #E67E22;
  --size-title: 2.588rem;
  --size-paragraphe: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
}

.scroll__style {
  background-color: var(--color-secondary);
}

/***********************************/
/***********************************/
/***********************************/
/*A PROPOS********************/
.main {
    margin: 10em 0 5em 0;
}

.download a {
    background-color: var(--color-button);
    padding: .5em 1em;
    text-decoration: none;
    color: var(--color-texte);
}

.download a:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}

.timeline {
    width : 80%;
    margin : 3em auto;
}

.timeline__card {
    background-color: var(--color-button) ;
    padding: 1em;
    color: var(--color-secondary);
}

.timeline__card__default {
     background-color: var(--color-secondary) ;
    padding: 1em;
    color: var(--color-button );
}
/***********************************/
/***********************************/
/***********************************/
/*CONTACT********************/
.form__part {
    background-color: var(--color-secondary);
    padding: 1em 2em;
}

form {
    padding: 1em 1.5em;
    color: var(--color-texte);
}
.cta {
  margin: 1.5em 0;
}

.cta__btn {
  text-decoration: none;
  padding: .7em 2em;
  background-color: var(--color-button);
  color: var(--color-texte);
  border : none
}

.cta__btn:hover {
  background-color: #db761d;
  color: var(--color-texte);
}
/***********************************/
/***********************************/
/***********************************/
/*FOOTER********************/
footer {
    background-color: var(--color-secondary);
    padding: 1em 1.5em;
    color: var(--color-texte);  
}

footer a {
    text-decoration: none;
    color: var(--color-texte-important);
}

footer a:hover{
    color: #f79139
}