/* Importation de la font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Saira:wght@100..900&display=swap");

/* Déclarations des differentes couleurs */
:root {
  --color-primary: #E67E22;
  --color-secondary: #0a1118;
  --color-button: #E67E22;
  --color-texte: #fff;
  --color-texte-important: #E67E22;
  --size-title: 2.588rem;
  --size-paragraphe: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
}
/******************************/
/******************************/
/*NAVBAR******************/
nav {
    position: relative;
    z-index: 2;
}

.logo{
    font-size: 2rem;
    font-weight: 800;
}

.nav-link {
    font-size: 1.2rem;
}
/***********************/
body {
    font-size: var(--size-paragraphe);
    font-family: "Montserrat", sans-serif;
}

header {
    background-image: url("/assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    overflow: hidden;
}

.blur__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(6px);
    height: 500px;
    z-index: 1;
}